body {
  font-family: 'Noto Sans TC', sans-serif;
}

/* w3schools used for hero-image code https://www.w3schools.com/howto/howto_css_hero_image.asp */
.hero-image {
  background-image: url("../images/epl-logo.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.title {
  background-color: antiquewhite;
  padding: 10px;
  opacity: 0.9;
} 

.heading {
  background-color: antiquewhite;
}

/* Button */

.btn {
  background-color: #007;
  color: white;
}

.btn:hover {
  color: yellow;
  text-decoration: none;
}

/* Footer */

.footer-container {
  font-size: medium;
  
  padding-top: 5px;
}

.footer {
  background-color: black;
  color: whitesmoke;
  border-color: whitesmoke;
  margin: 0;
  font-size: 20px;
}

#footer {
  position: absolute;
  bottom: 0;
  height: 100px;
  background: #ededed;
  width: 100%;
}

.social-links i {
  font-size: 35px;
}

a:hover {
  text-decoration: none;
  color: #95c0ee;
}


/* Modal */

.modal-content {
  background-color: #007;
  color: whitesmoke;
}

/*game styling */

.game-screen {
  height: 100vh;
  display: flex;
  background: maroon;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.epl-game {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid red;
  margin: auto;
  perspective: 1000px;
}

.team-card {
  width: calc(25% - 10px);
  height: calc(33.33% - 10px);
  position: relative;
  margin: 5px;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
}

.team-card:active {
  transform: scale(.97);
  transition: transform .2s;
}

.team-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 5px;
  background: #007;
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

.home-btn {
  margin-top: 20px;
  margin-left: 20px;
}

/* Map */
div#map {
  min-height: 360px;
  position: absolute;
}






