body {
  font-family: font-family: 'Rubik', sans-serif;
  /* height: 100%; */
}

/* w3schools used for hero-image code https://www.w3schools.com/howto/howto_css_hero_image.asp */
.hero-image {
  background-image: url("../images/epl-logo.png");
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* .hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #007;
  width: 200px;
  height: 300px;
  background-color: aliceblue;
  border-radius: 10px;
  margin-top: 30px;
} */

/* .card-img-top {
  width: 100%;
  height: 15vw;
  object-fit: cover;
  max-height: 150px;
  min-height: 120px;
} */

.title {
  background-color: antiquewhite;
  padding: 10px;
  margin: 30px;
} 

/* Button */

.btn {
  background-color: #007;
  color: white;
}

.btn:hover {
  color: yellow;
  text-decoration: none;
}

/* Footer */

.footer-container {
  font-size: medium;
  
  padding-top: 30px;
}

.footer {
  background-color: black;
  color: whitesmoke;
  border-color: whitesmoke;
  margin: 0;
  font-size: 20px;
}

.social-links i {
  font-size: 35px;
}

a:hover {
  text-decoration: none;
  color: #95c0ee;
}


/* Modal */

.modal-content {
  background-color: #007;
  color: whitesmoke;
}